<h1>PURPLE MOVIES</h1>
<header>
  <form id="form">
    <input type="text" id="search" placeholder="Type search here..." class="search" />
  </form>
</header>
<main id="main"></main>
<!--linking the javascript file-->
<script src="script.js"></script>
