<header>
  <form id="form">
    <input type="text" id="search" placeholder="Search" class="search" />
  </form>
</header>
<main id="main"></main>
<!--linking the javascript file-->
<script src="script.js"></script>
